# Entornos virtuales
.venv/
venv/
env/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Archivos de Visual Studio Code y temporales
.vscode/
tempCodeRunnerFile.py
tempCodeRunnerFile.ipynb

# Archivos del sistema operativo (Windows/Mac)
.DS_Store
Thumbs.db